{% load i18n full_url password_reset_timeout %}{% autoescape off %}
    {% trans "Hello Mr/Ms" %} {{ user.last_name }},

    {% blocktrans %}You're receiving this email because you requested a password reset for your user account.
    {% endblocktrans %}

    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
        {% full_url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

    {% language "ar" %}
        {% password_reset_timeout_timedelta as expiry_timedelta %}
        {% now as now %}
        {% with now|timeuntil_expiry:expiry_timedelta as time_until_expiry %}
            {% if time_until_expiry %}
                {% blocktrans with time_until_expiry=time_until_expiry %}
                    Note that, for security reasons, this link is only valid for {{ time_until_expiry }}.
                {% endblocktrans %}
            {% endif %}
        {% endwith %}
    {% endlanguage %}

    {% trans "Thanks for using our site!" %}

    {% blocktrans %}The {{ site_name }} team.{% endblocktrans %}

{% endautoescape %}
