{% extends "rdrf_cdes/settings_base.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/jquery-1.13.2/themes/smoothness/jquery-ui.min.css' %}">
    <script>
        $(document).ready(function() {
            $(":input").not(':input[type=checkbox], :input[type=radio], :input[type=button], :input[type=submit], :input[type=reset]').addClass("form-control");
            const dateInputs = $("input[name*='date']").addClass("datepicker");
            dateInputs.each(function() {
                setUpDatePickers(this);
            });
        });
        
        function select_country(obj) {
            state_id = obj.id.replace("country", "state");
            state_select = $('#' + state_id);
            state_select.find('option').remove();
            $.get( "{% url 'v1:state_lookup' 'XX' %}".replace('XX', obj.value), function( data ) {
                if (data) {
                    $.each(data, function(i, item) {
                        state_select.append("<option value=" + item.code +">"+ item.name +"</option>");
                    })
                }
            });
        }
    </script>
{% endblock %}

{% block settings_breadcrumb %}
<span class="rdrf-breadcrumb__separator" aria-hidden="true">/</span>
<span aria-current="page">{% trans "My details" %}</span>
{% endblock %}

{% block settings_description %}
<p class="rdrf-settings-page__description">{% trans "Update your personal details here." %}</p>
{% endblock %}

{% block settings_content %}
    <div class="rdrf-settings-panel">
    <h2 class="rdrf-settings-panel__title">{% trans "My details" %}</h2>
    <p class="rdrf-settings-panel__description">{% trans "Update your personal details here." %}</p>
    <form class="date-form" method="post">
        {% csrf_token %}
        {% for field in parent_form %}
            <div class="rdrf-settings-field {% if field.errors %}has-error{% endif %}">
                <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                <div>
                    {{ field }}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="rdrf-settings-actions">
            <a href="{% url 'registry:parent_page' registry_code %}" class="btn btn-outline-secondary">{% trans 'Cancel' %}</a>
            <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
        </div>
    </form>
    </div>
{% endblock %}
