{% load i18n %}
{% load join_if_list %}

{% trans 'None' as no_data_msg %}

<section class="rdrf-card page-break-inside-avoid {% if primary %}border-primary{% endif %}{% block card_class %}{% endblock %}">
  <div class="rdrf-card__title-row">
      {% block card_header %}
        <h2 class="h5 mb-0">{{ widget.title }}</h2>
      {% endblock %}
  </div>
  <div>
    <div>
      {% block card_body_text %}
      {% endblock %}
      {% if widget %}
          {% if widget.demographic_data or widget.clinical_data %}
            <table class="table table-sm table-striped">
              <tbody>
              {% if widget.demographic_data %}
                {% for key, demographic in widget.demographic_data.items %}
                  <tr>
                    <td class="w-50">{{ demographic.label }}</td>
                    <td>{{ demographic.value|default_if_none:no_data_msg }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              {% if widget.clinical_data %}
                {% for cde in widget.clinical_data %}
                  <tr>
                    <td class="w-50">{{ cde.label }}</td>
                    <td>{{ cde.data|join_if_list }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              </tbody>
            </table>
          {% endif %}
      {% endif %}
    </div>
    {% block card_links %}
    {% endblock %}
    <ul class="list-unstyled rdrf-card__actions d-print-none mb-0">
      {% if widget %}
        {% for link in widget.form_links %}
          <li><a href="{{ link.url }}" class="card-link">{{ link.label }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  {% block card_meta %}
    {% if widget %}
      {% if widget.free_text %}
        <div class="rdrf-card__meta mt-3 mb-0">{{ widget.free_text }}</div>
      {% endif %}
    {% endif %}
  {% endblock %}
</section>